:root {
  --c-white-100: #fff;
  --c-white-200: #f0f0f0;
  --c-white-300: #e0e0e0;
  --c-white-400: #c9c9c9;
  --c-white-500: #6c6c6c;
  --c-black-100: #282a31;
  --c-black-200: #20232a;
  --c-red-100: #ff387f;
  --c-red-200: #ee3275;
}
