$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-sts: unquote('"\\e905"');
$icon-srf: unquote('"\\e904"');
$icon-download: unquote('"\\e900"');
$icon-github: unquote('"\\e901"');
$icon-telegram: unquote('"\\e902"');
$icon-vk: unquote('"\\e903"');

